################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs
/ParkingLot/bin
/ParkingLot/obj
/ParkingLotTest/bin
/ParkingLotTest/obj
